# Nightly test of scipy, against the nightly build of Python
name: Nightly build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test_nightly:

    #if: "github.repository == 'scipy/scipy' && !contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.head_commit.message, '[skip github]')"
    runs-on: ${{ matrix.runner_type }}
    continue-on-error: true
    strategy:
      matrix:
        runner_type: [f2s,f8s,f16s]
        #runner_type: [ds2v2,ds2v3,d2dsv4,d2asv4,m5large,n2s2,ds3v2,ds4v2,ds5v2,f4s,c2s4,c5xlarge,f32s,f64s,ubuntu-20.04]
    
    env:
      #### For stat collection
      runId: ${{ matrix.runner_type }}-${{ github.workflow }}
      artifactsDir: artifacts/${{ github.repository }}
      iostatFile: artifacts/${{ github.repository }}/${{ matrix.runner_type }}-iostat.txt
      vmstatFile: artifacts/${{ github.repository }}/${{ matrix.runner_type }}-vmstat.txt
      timingFile: artifacts/${{ github.repository }}/${{ matrix.runner_type }}-timing.txt
      ##########################
        
    steps:
    #### Start stat collection
    - run: mkdir -p ${{ runner.temp }}/${{ env.artifactsDir }}
    - run: iostat -yxmt 1 > ${{ runner.temp }}/${{ env.iostatFile }} &
    - run: vmstat -n 1 > ${{ runner.temp }}/${{ env.vmstatFile }} &
    - run: date -R > ${{ runner.temp }}/${{ env.timingFile }}
    ##########################
    - uses: actions/checkout@v2

    - name: Install Python 3.9
      #if: matrix.python-version == '3.9'
      run: |
        sudo add-apt-repository ppa:deadsnakes/ppa
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends python3.9-dev python3.9-distutils python3.9-venv
        sudo apt-get install python3-pip -y
        python3.9 -m pip install --upgrade pip setuptools

    - name: Install other build dependencies
      run: |
        sudo apt-get install libatlas-base-dev liblapack-dev gfortran libgmp-dev libmpfr-dev libsuitesparse-dev ccache libmpc-dev -y

    - name: Install packages
      run: |
        python3.9 -m pip install --user numpy setuptools wheel cython pytest pytest-xdist pybind11 pytest-xdist

    - name: Test SciPy
      run: |
        python3.9 -u runtests.py -m fast
  
    #### Collect/upload stats
    - run: date -R >> ${{ runner.temp }}/${{ env.timingFile }}
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: perfdata
        path: ${{ runner.temp }}/${{ env.artifactsDir }}
        if-no-files-found: error
    ##########################

  process:
    name: Process Perf Data
    runs-on: ubuntu-latest
    needs: [test_nightly]
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
          architecture: x64
      - uses: actions/checkout@v2
        with:
          repository: pjquirk/runnerperf
          path: runnerperf
      - uses: actions/checkout@v2
        with:
          repository: pjquirk/iostat-tool
          path: runnerperf/iostat-tool
      - name: Download a Build Artifact
        uses: actions/download-artifact@v2  
        with:
          name: perfdata
          path: runnerperf/data
      - name: Prereqs
        run: sudo apt -y install datamash  
      - name: Process stats
        run: |
          cd runnerperf
          (cd iostat-tool && python setup.py develop)
          ls -l data
          script/dumpcsv.sh data output
          script/aggregate.sh output ${{ github.repository }}
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2
        with:
          name: summary-perfdata
          path: runnerperf/output/summary.csv
          if-no-files-found: error
